*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.btns button{
  height:max-content;
  width: max-content;
  font-size: 23px;
  border-radius: 5px;
  padding: 2px 2px;
  margin-top: 50px;
}
.additionapp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  width: 100%;
}
.additionapp h1{
  background-color: pink;
  margin-bottom: 20px;
}
.additionapp input{
  height: 30px;
  font-size: 16px;
}
.additionapp button{
  color: brown;
  width: 60px;
  height: 30px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid brown;
  margin-bottom: 20px;
}
.additionapp p{
  font-size: 20px;
  font-weight: 600;
  color: black;

}
.toggle button {
  width: 60px;
  height: 30px;
  color: white;
  background-color: blue;
}
.toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  background-color: antiquewhite;
}
.clicktracker {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 20px;  
padding: 10px;
gap: 20px;
font-size: 25px;
background: burlywood;
}
.clicktracker button{
  width: max-content;
  height: max-content;
  font-size: 20px;
  color: white;
  background-color: brown;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
}
.center-container{
  height: 500px;
  width: 400px;
}
.input-box-todo{
border-radius: 15px;
padding: 10px;
width: 300px;
height: 40px;
outline: none;
font-size: 18px;


}
.add-btn{
  color:white;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: darkcyan;
  border: none;
  font-size: 20px;
  margin-left: 10px;
}
.list-items{
  width: 400px;
  justify-content: space-between;
  height: 30px;
  padding: 10px;
  border: none;
  margin: 15px 0px;
  align-items: center;
  color: black;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.list-items button{
  padding: 2px 4px;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
}