*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
.btns{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  
}
.btns button{
  height:max-content;
  width: max-content;
  font-size: 23px;
  border-radius: 5px;
  padding: 2px 2px;
  margin-top: 50px;
}
.additionapp{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: antiquewhite;
  width: 100%;
}
.additionapp h1{
  background-color: pink;
  margin-bottom: 20px;
}
.additionapp input{
  height: 30px;
  font-size: 16px;
}
.additionapp button{
  color: brown;
  width: 60px;
  height: 30px;
  font-size: 16px;
  border-radius: 8px;
  border: 1px solid brown;
  margin-bottom: 20px;
}
.additionapp p{
  font-size: 20px;
  font-weight: 600;
  color: black;

}
.toggle button {
  width: 60px;
  height: 30px;
  color: white;
  background-color: blue;
}
.toggle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  margin-top: 30px;
  width: 100%;
  background-color: antiquewhite;
}
.clicktracker {
display: flex;
justify-content: center;
align-items: center;
flex-direction: column;
margin-top: 20px;  
padding: 10px;
gap: 20px;
font-size: 25px;
background: burlywood;
}
.clicktracker button{
  width: max-content;
  height: max-content;
  font-size: 20px;
  color: white;
  background-color: brown;
}
.main-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: aquamarine;
}
.center-container{
  height: 500px;
  width: 400px;
}
.input-box-todo{
border-radius: 15px;
padding: 10px;
width: 300px;
height: 40px;
outline: none;
font-size: 18px;


}
.add-btn{
  color:white;
  height: 45px;
  width: 45px;
  border-radius: 50px;
  background-color: darkcyan;
  border: none;
  font-size: 20px;
  margin-left: 10px;
}
.list-items{
  width: 400px;
  justify-content: space-between;
  height: 30px;
  padding: 10px;
  border: none;
  margin: 15px 0px;
  align-items: center;
  color: black;
  border-radius: 30px;
  background-color: white;
  display: flex;
  flex-direction: row;
  font-size: 14px;
}
.list-items button{
  padding: 2px 4px;
  background-color: darkcyan;
  color: white;
  border: none;
  border-radius: 4px;
  width: 25px;
  height: 25px;
}

.grid-container{
  display: grid;
  grid-template-columns: repeat(3, 400px); /* 3 columns, equal width */
  grid-gap: 3cqmin; /* Gap between grid items */
  padding: 20px;
  
}
.link{
background:linear-gradient(rgba(94, 94, 100, 1),transparent);
background-color:cadetblue;
padding: 20px;
border-radius: 10px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
text-align: center;
font-size: 30px;
}
.light {
  background-color: #f0f0f0;
  color: #000;
}

.dark {
  background-color: #333;
  color: #fff;
}
.theme-container{
  display: flex;
  width: auto;
  height: 100vh;
justify-content: center;
align-items: center;
padding: 20px;
margin: 30px;
flex-direction: column;
}
.theme-btn{
  width: 90%;
  height: 400px;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
  padding: 20px;

}
.theme-container p{

  font-size: 20px;

}
.themepara p{
  font-size: 40px;
}
.theme-container{
width: 100%;
background-color: #333;

}

.totalBox{
  width: 100vw;
  height: 100vh;
  background-color: blue;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
}
.box{
  width: 40%;
  height: 10%;
  background-color:cadetblue;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.btn1{
  padding: 10px 25px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: red;
  font-weight: bold;
  cursor: pointer;
}
.btn2{
  padding: 10px 25px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: green;
  font-weight: bold;
  cursor: pointer;
}
.btn3{
  padding: 10px 25px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: blue;
  font-weight: bold;
  cursor: pointer;
}
.btn4{
  padding: 10px 25px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: orange;
  font-weight: bold;
  cursor: pointer;
}
.btn5{
  padding: 10px 25px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: pink;
  font-weight: bold;
  cursor: pointer;
}
.btn6{
  padding: 10px 25px;
  height: 50px;
  width: 50px;
  border-radius: 50px;
  border: none;
  color: white;
  background-color: purple;
  font-weight: bold;
  cursor: pointer;
}
